body {
	margin: 0;
}

#gridContainer {
	display: grid;
	grid-template-columns: repeat(16, 6.25vw);
	grid-template-rows: repeat(16, 6.25vh);
}

.gridSquare {
	border: 1px solid red;
}

.colouredGrid {
	background: black;
}