body {
	margin: 0;
}

#gridContainer {
	display: grid;
	grid-template-columns: repeat(16, 50px);
	grid-template-rows: repeat(16, 50px);
}

/* .gridLine {	
} */

.gridSquare {
	border: 5px solid red;
}